<!DOCTYPE html>
<html>
<head>
	<title>CV Generator</title>
	  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>



